# Python / Flask
__pycache__/
*.pyc
instance/
.env
*.db
*.sqlite3
.migrations/
Pipfile.lock

# Pipenv
backend/Pipfile.lock

# Node / React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
